In [16]:
import numpy as np

In [17]:
import pandas as pd

In [18]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [20]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [19]:
concrete_data.shape

(1030, 9)

In [21]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [22]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [23]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [24]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [25]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [26]:
n_cols = predictors_norm.shape[1] # number of predictors

In [27]:
from keras.models import Sequential
from keras.layers import Dense

In [28]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [29]:
# build the model
model = regression_model()

In [30]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:From /home/nate/.local/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 1647.5276 - val_loss: 1135.4138
Epoch 2/100
 - 0s - loss: 1518.5582 - val_loss: 1004.4984
Epoch 3/100
 - 0s - loss: 1306.5810 - val_loss: 804.6180
Epoch 4/100
 - 0s - loss: 987.2122 - val_loss: 555.3846
Epoch 5/100
 - 0s - loss: 623.5881 - val_loss: 341.6442
Epoch 6/100
 - 0s - loss: 370.3263 - val_loss: 232.9132
Epoch 7/100
 - 0s - loss: 276.0057 - val_loss: 197.2060
Epoch 8/100
 - 0s - loss: 247.4864 - val_loss: 179.7651
Epoch 9/100
 - 0s - loss: 227.5439 - val_loss: 173.0243
Epoch 10/100
 - 0s - loss: 212.3458 - val_loss: 166.6363
Epoch 11/100
 - 0s - loss: 201.5854 - val_loss: 162.0132
Epoch 12/100
 - 0s - loss: 192.5214 - val_loss: 160.3099
Epoch 13/100
 - 0s - loss: 185.4290 - val_loss: 157.9342
Epoch 14/100
 - 0s - loss: 178.4378 - val_loss: 154.7375
Epoch 15/100
 - 0s - loss: 173.2675 - val_loss: 154.2771
Epoch 16/100
 - 0s - loss: 168.7952 - val_loss: 156.0650
Epoch 17/100
 - 0s - loss: 164.1380 - val_loss: 153.7337
Epoch 18/100
 - 0s - loss: 161.7192 - val_loss: 154.2786
Epoch 19/100
 - 0s - loss: 157.0885 - val_loss: 153.9816
Epoch 20/100
 - 0s - loss: 154.8838 - val_loss: 154.0025
Epoch 21/100
 - 0s - loss: 152.2611 - val_loss: 153.1249
Epoch 22/100
 - 0s - loss: 149.9952 - val_loss: 153.2075
Epoch 23/100
 - 0s - loss: 147.7345 - val_loss: 153.6708
Epoch 24/100
 - 0s - loss: 145.9423 - val_loss: 154.0288
Epoch 25/100
 - 0s - loss: 143.8019 - val_loss: 155.4176
Epoch 26/100
 - 0s - loss: 142.6211 - val_loss: 155.2257
Epoch 27/100
 - 0s - loss: 140.7587 - val_loss: 155.0126
Epoch 28/100
 - 0s - loss: 139.3305 - val_loss: 153.6016
Epoch 29/100
 - 0s - loss: 138.0592 - val_loss: 156.0674
Epoch 30/100
 - 0s - loss: 137.0777 - val_loss: 157.9547
Epoch 31/100
 - 0s - loss: 135.7184 - val_loss: 152.9767
Epoch 32/100
 - 0s - loss: 133.6535 - val_loss: 153.9518
Epoch 33/100
 - 0s - loss: 132.6385 - val_loss: 154.0977
Epoch 34/100
 - 0s - loss: 131.3804 - val_loss: 155.6940
Epoch 35/100
 - 0s - loss: 129.7423 - val_loss: 156.3966
Epoch 36/100
 - 0s - loss: 128.5868 - val_loss: 156.3508
Epoch 37/100
 - 0s - loss: 127.0534 - val_loss: 157.4453
Epoch 38/100
 - 0s - loss: 125.8034 - val_loss: 155.1741
Epoch 39/100
 - 0s - loss: 124.0564 - val_loss: 153.7854
Epoch 40/100
 - 0s - loss: 122.5594 - val_loss: 157.4664
Epoch 41/100
 - 0s - loss: 121.0424 - val_loss: 157.0436
Epoch 42/100
 - 0s - loss: 119.2027 - val_loss: 156.9199
Epoch 43/100
 - 0s - loss: 117.6000 - val_loss: 154.9991
Epoch 44/100
 - 0s - loss: 115.4600 - val_loss: 155.2434
Epoch 45/100
 - 0s - loss: 112.8699 - val_loss: 158.8455
Epoch 46/100
 - 0s - loss: 111.0696 - val_loss: 154.2180
Epoch 47/100
 - 0s - loss: 109.0997 - val_loss: 153.1897
Epoch 48/100
 - 0s - loss: 106.7134 - val_loss: 156.6498
Epoch 49/100
 - 0s - loss: 104.4791 - val_loss: 157.2992
Epoch 50/100
 - 0s - loss: 101.8936 - val_loss: 154.5174
Epoch 51/100
 - 0s - loss: 99.9641 - val_loss: 156.8934
Epoch 52/100
 - 0s - loss: 96.6803 - val_loss: 155.0732
Epoch 53/100
 - 0s - loss: 94.0909 - val_loss: 152.8783
Epoch 54/100
 - 0s - loss: 92.0210 - val_loss: 153.2658
Epoch 55/100
 - 0s - loss: 89.1753 - val_loss: 155.5209
Epoch 56/100
 - 0s - loss: 86.8151 - val_loss: 154.8178
Epoch 57/100
 - 0s - loss: 84.2825 - val_loss: 150.1082
Epoch 58/100
 - 0s - loss: 81.6378 - val_loss: 156.1422
Epoch 59/100
 - 0s - loss: 79.8161 - val_loss: 150.6388
Epoch 60/100
 - 0s - loss: 77.9533 - val_loss: 156.2411
Epoch 61/100
 - 0s - loss: 75.1589 - val_loss: 148.1081
Epoch 62/100
 - 0s - loss: 73.0481 - val_loss: 147.1171
Epoch 63/100
 - 0s - loss: 70.7214 - val_loss: 151.5027
Epoch 64/100
 - 0s - loss: 68.5102 - val_loss: 150.4097
Epoch 65/100
 - 0s - loss: 67.1935 - val_loss: 147.4368
Epoch 66/100
 - 0s - loss: 64.7065 - val_loss: 147.4600
Epoch 67/100
 - 0s - loss: 62.9296 - val_loss: 149.1365
Epoch 68/100
 - 0s - loss: 61.2073 - val_loss: 146.7211
Epoch 69/100
 - 0s - loss: 58.9902 - val_loss: 141.4641
Epoch 70/100
 - 0s - loss: 57.3134 - val_loss: 145.3860
Epoch 71/100
 - 0s - loss: 55.6324 - val_loss: 150.4273
Epoch 72/100
 - 0s - loss: 54.5059 - val_loss: 145.3176
Epoch 73/100
 - 0s - loss: 52.4290 - val_loss: 141.1943
Epoch 74/100
 - 0s - loss: 51.0339 - val_loss: 147.8742
Epoch 75/100
 - 0s - loss: 49.5826 - val_loss: 140.3795
Epoch 76/100
 - 0s - loss: 48.7792 - val_loss: 142.0979
Epoch 77/100
 - 0s - loss: 47.5322 - val_loss: 144.8086
Epoch 78/100
 - 0s - loss: 46.3603 - val_loss: 147.3993
Epoch 79/100
 - 0s - loss: 45.9061 - val_loss: 143.2397
Epoch 80/100
 - 0s - loss: 45.0780 - val_loss: 150.4125
Epoch 81/100
 - 0s - loss: 44.3320 - val_loss: 142.6650
Epoch 82/100
 - 0s - loss: 43.7557 - val_loss: 149.7390
Epoch 83/100
 - 0s - loss: 42.6088 - val_loss: 149.7835
Epoch 84/100
 - 0s - loss: 42.1932 - val_loss: 137.6342
Epoch 85/100
 - 0s - loss: 41.9658 - val_loss: 153.1858
Epoch 86/100
 - 0s - loss: 41.1432 - val_loss: 144.5979
Epoch 87/100
 - 0s - loss: 40.6813 - val_loss: 143.0008
Epoch 88/100
 - 0s - loss: 40.1896 - val_loss: 139.8481
Epoch 89/100
 - 0s - loss: 39.7118 - val_loss: 147.7576
Epoch 90/100
 - 0s - loss: 38.7267 - val_loss: 155.3456
Epoch 91/100
 - 0s - loss: 38.4504 - val_loss: 142.0284
Epoch 92/100
 - 0s - loss: 38.4075 - val_loss: 147.0893
Epoch 93/100
 - 0s - loss: 37.8678 - val_loss: 145.4663
Epoch 94/100
 - 0s - loss: 37.2745 - val_loss: 147.4648
Epoch 95/100
 - 0s - loss: 36.6619 - val_loss: 147.8647
Epoch 96/100
 - 0s - loss: 36.5458 - val_loss: 153.9942
Epoch 97/100
 - 0s - loss: 36.1367 - val_loss: 149.8969
Epoch 98/100
 - 0s - loss: 35.6529 - val_loss: 151.5625
Epoch 99/100
 - 0s - loss: 35.0625 - val_loss: 148.2470
Epoch 100/100
 - 0s - loss: 35.3491 - val_loss: 153.3160

In [15]:
import keras